@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700&family=Montserrat:wght@100;200;300;400;500;700&display=swap');

$font-family-body: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
$font-family-heading: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
$max-line-length: 70ch;

$breakpoints: (
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
  '2xl': 1536px,
);

@mixin theme-colors($theme: 'light') {
  @if $theme == 'light' {
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(0, 0%, 3.9%);
    --card: hsl(0, 0%, 97%);
    --card-foreground: hsl(0, 0%, 3.9%);
    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(0, 0%, 3.9%);
    --primary: hsl(204, 70%, 54%);
    --primary-foreground: hsl(204, 85.7%, 97.3%);
    --secondary: hsl(204, 0%, 96.1%);
    --secondary-foreground: hsl(204, 0%, 9%);
    --muted: hsl(204, 0%, 96.1%);
    --muted-foreground: hsl(204, 0%, 45.1%);
    --accent: hsl(204, 0%, 96.1%);
    --accent-foreground: hsl(204, 0%, 9%);
    --destructive: hsl(0, 84.2%, 60.2%);
    --destructive-foreground: hsl(0, 0%, 98%);
    --border: hsl(204, 0%, 89.8%);
    --input: hsl(204, 0%, 89.8%);
    --ring: hsl(204, 70%, 54%);
    --shadow: hsla(0, 0%, 0%, 0.2);
  } @else {
    --background: hsl(0, 0%, 3.9%);
    --foreground: hsl(0, 0%, 98%);
    --card: hsl(0, 0%, 6.9%);
    --card-foreground: hsl(0, 0%, 98%);
    --popover: hsl(0, 0%, 3.9%);
    --popover-foreground: hsl(0, 0%, 98%);
    --primary: hsl(204, 70%, 54%);
    --primary-foreground: hsl(204, 85.7%, 97.3%);
    --secondary: hsl(204, 0%, 14.9%);
    --secondary-foreground: hsl(0, 0%, 98%);
    --muted: hsl(204, 0%, 14.9%);
    --muted-foreground: hsl(204, 0%, 63.9%);
    --accent: hsl(204, 0%, 14.9%);
    --accent-foreground: hsl(0, 0%, 98%);
    --destructive: hsl(0, 62.8%, 30.6%);
    --destructive-foreground: hsl(0, 0%, 98%);
    --border: hsl(204, 0%, 14.9%);
    --input: hsl(204, 0%, 14.9%);
    --ring: hsl(204, 70%, 54%);
    --shadow: hsla(0, 0%, 100%, 0.3);
  }
  --radius: 0.5rem;
}

@mixin generate-color-classes($prefix) {
  $colors: (
    background,
    foreground,
    card,
    popover,
    primary,
    secondary,
    muted,
    accent,
    destructive
  );

  @each $color in $colors {
    .#{$prefix}-#{$color} {
      #{$prefix}-color: var(--#{$color});
    }
  }
}

@mixin breakpoint($size) {
  @if map-has-key($breakpoints, $size) {
    @media (min-width: map-get($breakpoints, $size)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$size}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin responsive-font-sizes {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.75em;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.25em;
  }
  h5,
  h6 {
    font-size: 1em;
  }
}

.newsletterDesigner {
  // Light theme by default
  @include theme-colors('light');

  // Dark theme
  &[data-theme='dark'] {
    @include theme-colors('dark');
  }

  // Color classes
  @include generate-color-classes(background);
  @include generate-color-classes(text);

  @import '/src/components/panels/blocks/styles';
  @import '/src/components/panels/preview/styles';
  @import '/src/components/ui/button/styles';
  @import '/src/components/ui/collapsible/styles';
  @import '/src/components/ui/popover/styles';
  @import '/src/components/ui/scrollArea/styles';
  @import '/src/components/ui/RRLogo/styles';
  @import '/src/components/ui/BlockFilter/styles';
  @import '/src/components/ui/switch/styles';
  @import '/src/components/ui/toggle/styles';

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  // Base styles
  & {
    background-color: var(--background);
    color: var(--foreground);
    font-family: $font-family-body;
    display: flex;
    height: 100dvh;
    // padding: 1rem;
    line-height: 1.6;
    font-size: 16px;
  }

  .container {
    display: flex;
    width: 100%;
    flex-direction: column;
    @include breakpoint('md') {
      flex-direction: row;
    }
  }

  // Border and ring styles
  .border-base {
    border-color: var(--border);
  }
  .border-input {
    border-color: var(--input);
  }
  .ring-base {
    --tw-ring-color: var(--ring);
  }
  .rounded-base {
    border-radius: var(--radius);
  }

  // Hover, focus, and active states
  @each $state in (hover, focus, active) {
    .#{$state}\:background-primary:#{$state} {
      background-color: var(--primary);
    }
    .#{$state}\:background-secondary:#{$state} {
      background-color: var(--secondary);
    }
    .#{$state}\:background-accent:#{$state} {
      background-color: var(--accent);
    }
    .#{$state}\:background-destructive:#{$state} {
      background-color: var(--destructive);
    }
  }

  // Typography
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family-heading;
    font-weight: 300;
  }

  @for $i from 1 through 6 {
    h#{$i} {
      font-size: 2.5em - ($i - 1) * 0.25em;
    }
  }

  p,
  ul,
  ol {
    max-width: $max-line-length;
  }

  // Media query
  @include breakpoint('md') {
    @include responsive-font-sizes;
  }
}
