@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700&family=Montserrat:wght@100;200;300;400;500;700&display=swap");

$font-family-body: "Roboto", "Helvetica Neue", Arial, sans-serif;
$font-family-heading: "Montserrat", "Helvetica Neue", Arial, sans-serif;
$max-line-length: 70ch;

$breakpoints: (
  "sm": 640px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1280px,
  "2xl": 1536px,
);

@mixin theme-colors($theme: "light") {
  @if $theme == "light" {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 204 70% 54%;
    --primary-foreground: 204 85.7% 97.3%;
    --secondary: 204 0% 96.1%;
    --secondary-foreground: 204 0% 9%;
    --muted: 204 0% 96.1%;
    --muted-foreground: 204 0% 45.1%;
    --accent: 204 0% 96.1%;
    --accent-foreground: 204 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 204 0% 89.8%;
    --input: 204 0% 89.8%;
    --ring: 204 70% 54%;
  } @else {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 204 70% 54%;
    --primary-foreground: 204 85.7% 97.3%;
    --secondary: 204 0% 14.9%;
    --secondary-foreground: 204 0% 98%;
    --muted: 204 0% 14.9%;
    --muted-foreground: 204 0% 63.9%;
    --accent: 204 0% 14.9%;
    --accent-foreground: 204 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 204 0% 14.9%;
    --input: 204 0% 14.9%;
    --ring: 204 70% 54%;
  }
  --radius: 0.5rem;
}

@mixin generate-color-classes($prefix) {
  $colors: (
    background,
    foreground,
    card,
    popover,
    primary,
    secondary,
    muted,
    accent,
    destructive
  );

  @each $color in $colors {
    .#{$prefix}-#{$color} {
      #{$prefix}-color: hsl(var(--#{$color}));
    }
  }
}

@mixin breakpoint($size) {
  @if map-has-key($breakpoints, $size) {
    @media (min-width: map-get($breakpoints, $size)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$size}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin responsive-font-sizes {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.75em;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.25em;
  }
  h5,
  h6 {
    font-size: 1em;
  }
}

.newsletterDesigner {
  // Light theme by default
  @include theme-colors("light");

  // Dark theme
  &[data-theme="dark"] {
    @include theme-colors("dark");
  }

  // Color classes
  @include generate-color-classes(background);
  @include generate-color-classes(text);

  @import "/src/components/Panels/blocks/styles";
  @import "/src/components/Panels/preview/styles";

  // Base styles
  & {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: $font-family-body;
    display: flex;
    height: 100dvh;
    // padding: 1rem;
    line-height: 1.6;
    font-size: 16px;
  }

  .container {
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    @include breakpoint("md") {
      flex-direction: row;
    }
  }

  // Border and ring styles
  .border-base {
    border-color: hsl(var(--border));
  }
  .border-input {
    border-color: hsl(var(--input));
  }
  .ring-base {
    --tw-ring-color: hsl(var(--ring));
  }
  .rounded-base {
    border-radius: var(--radius);
  }

  // Hover, focus, and active states
  @each $state in (hover, focus, active) {
    .#{$state}\:background-primary:#{$state} {
      background-color: hsl(var(--primary));
    }
    .#{$state}\:background-secondary:#{$state} {
      background-color: hsl(var(--secondary));
    }
    .#{$state}\:background-accent:#{$state} {
      background-color: hsl(var(--accent));
    }
    .#{$state}\:background-destructive:#{$state} {
      background-color: hsl(var(--destructive));
    }
  }

  // Typography
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family-heading;
    font-weight: 700;
  }

  @for $i from 1 through 6 {
    h#{$i} {
      font-size: 2.5em - ($i - 1) * 0.25em;
    }
  }

  p,
  ul,
  ol {
    max-width: $max-line-length;
  }

  // Media query
  @media (max-width: 768px) {
    @include responsive-font-sizes;
  }
}
