.BlocksPanel {
  display: flex;
  height: 100%;
  padding: 1rem;
  justify-content: center;
  align-items: start;

  flex: 4;
  @extend .background-card;
  min-width: 26rem;
  border-bottom: 1px solid
    color-mix(in srgb, var(--foreground) 30%, transparent);
  @include breakpoint("md") {
    border-right: 1px solid
      color-mix(in srgb, var(--foreground) 30%, transparent);
  }

  h2 {
    font-weight: 300;
  }
}
